[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

djangorestframework-jwt = "*"
Django = "*"
djangorestframework = "*"
django-cors-headers = "*"
Pillow = "*"


[dev-packages]
